.menu {
    min-height: 100vh;
    background: url('../images/menubackground.png');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    
    
    h2 {
        text-transform: capitalize;
        margin-top: 5rem;
        font-size: 3rem;
    }

    .btn-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        @include media-md {
            min-width: 70%;
            
        }

        button {
            font-size: 1rem;
            border-style: solid;
            height: 70px;
            border-radius: 10px;
            text-transform: capitalize;
            min-width: 80px;
            letter-spacing: .25rem;  

            @include media-lg {
                // max-width: 100px;
                max-width: 150px;
            }
        }

        .filter-btn {
            background-color: rgb(255, 205, 141);
            opacity: .8;
            width: 90%;
            font-size: 1.5rem;

            @include media-md {
                width: 30%;
            }
    
            
            &:hover {
                background-color: rgb(255, 236, 129);
            }
        }
    }
}

.section-center {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    margin-bottom: 10rem;

    @include media-md {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    

}

.menu-item {
    display: grid;
    place-items: center;
    background: linear-gradient(to left, rgba(255,236,131,0.4), rgba(255,164,45,0.4));
    // background: rgba(255,255,255,0.3);
    backdrop-filter: blur(50px);
    box-shadow:  0 25px 45px rgba(0,0,0,0.1), 
                 0 -25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(185, 185, 185, 0.6);
    border-bottom: 1px solid rgba(185, 185, 185, 0.6);
    border-left: 1px solid rgba(185, 185, 185, 0.6);
    border-top: 1px solid rgba(185, 185, 185, 0.6);
    border-radius: 10px;
    // border-color: black;
    // border: solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;

    @include media-lg {
        grid-template-columns: repeat(2, 1fr);
        // position: relative;
    }

    @include media-lg {
        padding-left: 5%;
    }

    img {
        object-fit: cover;
        height: 200px;
        width: 300px;
        border-radius: 10px;
        border: solid;
        border-width: thin;
        border-color: black;

        @include media-md {
            // max-width: 300px;
        }
    }

    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 1rem;
        // position: relative;

        @include media-lg {
            // position: absolute;
            // top: 0;
            // justify-content: flex-start;
            // margin-top: 0;
            place-self: start;
            padding-top: 0;
            margin-top: 0;
        }

        .menu-header {
            display: flex;
            justify-content: center;
            align-items: center;
            // place-self: start;
            // gap: 6rem;
            margin-left: 10%;
            
            @include media-md {
                display: flex;
                flex-direction: row;
                width: 80%;
                justify-content: space-between;
                margin-left: auto;
                margin-right: auto;
            }

            @include media-lg {
            //    justify-content: flex-start;
            gap: 2.5rem;
            }

            h4 {
                font-size: 1.5rem;
                letter-spacing: .25rem;
            
            }

            .menu-header-title {
                // position: absolute;
                // left: 0;
                @include media-lg {
                    // place-self: start;
                }
            }

            .price {
                display: flex;
                position: absolute;
                right: 5%;
                // top: 5px;
                font-size: 1.25rem;
                font-weight: 400;
                letter-spacing: .15rem;
                margin-right: 10%;

                @include media-md {
                    position: inherit;
                    // top: 0px;
                    // right: 0px;
                    // margin-right: 0%;
                    // padding-left: 6rem;
                    // // margin-left: 50%;
                    // margin-left: auto;
                    margin-right: 0%;
                }
            }
        }

        .item-text {
            text-align: left;
            letter-spacing: .06rem;
            margin-left: 10%;
            margin-right: auto;

            @include media-lg {
                // margin: 0;
                margin-right: 10%;
                font-size: 1.1rem;
            }
        }

    }
}

// .glass {
//     height: 200px;
//     width: 300px;
//     backdrop-filter: blur(5px);
// }