.menu {
    min-height: 100vh;
    background: url('../images/menubackground.png');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    
    h2 {
        text-transform: capitalize;
        margin-top: 5rem;
        font-size: 2rem;
    }
}

.section-center {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @include media-md {
        grid-template-columns: repeat(2, 1fr);
    }

}

.menu-item {
    display: grid;
    place-items: center;
}

.menu-item img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    border: solid;
    border-width: thin;
    border-color: black;

    @include media-md {
        // max-width: 300px;
    }
}