.menu {
    min-height: 100vh;
    background: url('../images/menubackground.png');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    
    
    h2 {
        text-transform: capitalize;
        margin-top: 5rem;
        font-size: 2rem;
    }

    .btn-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        button {
            font-size: 1rem;
            border-style: solid;
            height: 70px;
            border-radius: 10px;
            text-transform: capitalize;
            min-width: 80px;
            letter-spacing: .25rem;
            
            
        }

        .filter-btn {
            background-color: rgb(255, 205, 141);
            
            &:hover {
                background-color: rgb(255, 236, 129);
            }
        }
    }
}

.menu {
    // background-color: orange;
    // background-blend-mode: overlay;
}

.section-center {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @include media-md {
        grid-template-columns: repeat(2, 1fr);
    }

    

}

.menu-item {
    display: grid;
    place-items: center;
    background: linear-gradient(to left, rgba(255,236,131,0.4), rgba(255,164,45,0.4));
    // background: rgba(255,255,255,0.3);
    backdrop-filter: blur(50px);
    box-shadow:  0 25px 45px rgba(0,0,0,0.1), 
                 0 -25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(185, 185, 185, 0.6);
    border-bottom: 1px solid rgba(185, 185, 185, 0.6);
    border-left: 1px solid rgba(185, 185, 185, 0.6);
    border-top: 1px solid rgba(185, 185, 185, 0.6);
    border-radius: 10px;
    // border-color: black;
    // border: solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;

    img {
        object-fit: cover;
        height: 200px;
        width: 300px;
        border-radius: 10px;
        border: solid;
        border-width: thin;
        border-color: black;

        @include media-md {
            // max-width: 300px;
        }
    }

    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        // position: relative;

        .menu-header {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6rem;
            h4 {
                font-size: 1.5rem;
                letter-spacing: .25rem;
            
            }
            .price {
                // position: absolute;
                // right: 5%;
                // top: 5px;
                font-size: 1.25rem;
                font-weight: 400;
                letter-spacing: .15rem;
            }
        }

        .item-text {
            text-align: left;
            letter-spacing: .06rem;
            margin-left: 10%;
            margin-right: auto;
        }

    }
}

// .glass {
//     height: 200px;
//     width: 300px;
//     backdrop-filter: blur(5px);
// }